<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment">

    <title th:text="${pageTitle}">Layout Generic Title</title>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->
</head>

<body>

<nav class="navbar navbar-expand-sm bg-light" th:fragment="navFragment">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/page1/">Page1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/page2/">Page2</a>
    </li>

  </ul>

</nav>

<div class="jumbotron text-center">

<h1>Home</h1>
<p>Home subtext</p>

</div>

<div th:fragment="footerFragment">
  &copy; Brian Douglas 2017
</div>
</body>

</html>





