<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->

<title th:text="${pageTitle}">Generic Page Title</title>
</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>
<div class="jumbotron text-center">

<h1>Breakfast Cereals</h1>
<h6>Nutritional information about various breakfast cereals</h6>
<br />

</div>


<div class="container">

	<div th:if="${message}" class="alert alert-success" role="alert">
		<p th:text="${message}">success message</p>
	</div>

 <table class="table table-striped">
   <thead>
     <tr>
       <th>Manufacturer</th>
       <th>Cereal</th>
       <th>Links (View Edit Delete)</th>
     </tr>
   </thead>
   <tbody>
	   <tr th:each="cereal : ${cereals}">
		   <td th:text="${cereal.manufacturer}">Kellogs</td>
		   <td th:text="${cereal.name}">Cornflakes</td>
		   <td><a href="#" th:href="@{cereal/view/} + ${cereal.cerealId}">View</a> 
				<a href="#" th:href="@{cereal/edit/} + ${cereal.cerealId}">Edit</a> 
				<a href="#" th:href="@{cereal/delete/} + ${cereal.cerealId}">Delete</a> </td>
	   </tr>
   </tbody>
</table>
<a class="btn btn-primary" href="/cereal/add" role="button">Add New</a>

</div>


</body>
</html>